@(choice : Int)

<script>
function reloadFunction(s) {
    var newChoice = s[s.selectedIndex].value;
    location.href=newChoice;
}
</script>

@main("Listing journeys") {
    <link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/main.css")" >

	<div class="container">
	    <div class="hidden-print">
	    <h1>Route</h1>
	    <a href="@routes.FlightPlanController.add(choice)" class="btn btn-primary">Add Leg</a>
	    <p/>
        <p>
	    <select id="journeyChoice" onchange="reloadFunction(this)" >
	    @for(journey <- Journeys.all) {
	        @if(journey.id.get==choice) {
	            <option value="@routes.FlightPlanController.show(journey.id.get)" selected>@journey.name</option>
	        } else {
	            <option value="@routes.FlightPlanController.show(journey.id.get)">@journey.name</option>
	        }    
        }
        </select>
        </p>
        <p/>
        </div>
        <div>
        <table class="table table-striped table-bordered">
		    <thead>
		    	<tr>
					<th>From</th>
					<th>To</th>
					<th>SA</th>
					<th>PA</th>
					<th>Trk<br/>(T)</th>
					<th>Hdg<br/>(T)</th>
					<th>Var<br/>(W)</th>
					<th>Hdg<br/>(M)</th>
					<th>G/S</th>
					<th>Dist</th>
					<th>Leg<br/>Time</th>
					<th></th>
					<th>Time<br/>SetHdg</th>
					<th>Hdg<br/>(C)</th>
					<th>ETA</th>
					<th>RTA</th>
					<th>ATA</th>
		    	</tr>
		    </thead>
			<tbody>
				@for(leg <- Legs.forJourney(choice)) {
				<tr>
					<td>@Places.find(leg.from).name</td>
					<td>@Places.find(leg.to).name</td>
					<td/>
					<td/>
					<td>@{"%03.0f".format(leg.TrkT)}</td>
					<td>@{"%03.0f".format(leg.HdgT)}</td>
					<td>@leg.Var</td>
					<td class="bg-warning">@{"%03.0f".format(leg.HdgM)}</td>
					<td>@{"%3.0f".format(leg.GS)}</td>
					<td>@{"%3.1f".format(leg.lengthNM)}</td>
					<td class="bg-warning">@{"%3.0f".format(leg.LegTime)}</td>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
				</tr>
				}
			</tbody>
		</table>

		</div>


		<p/>

		<table class="table table-striped table-bordered" style="float: left; width:30%">
		    <thead>
		    	<tr>
					<th>Altitude</th>
					<th>WDir</th>
					<th>WVel</th>
					<th>Temp</th>
					<th>TAS<br/>Kts</th>
					<th>Max<br/>drift</th>
		    	</tr>
		    </thead>
			<tbody>
			    @for(wind <- Winds.all) {
				    <tr>
					    <td>@wind.altitude</td>
					    <td>@{"%03d".format(wind.direction)}</td>
				    	<td>@wind.speed</td>
					    <td>@wind.oat</td>
					    <td>@{"%3.0f".format(wind.tas)}</td>
					    <td>@{"%3.0f".format(wind.maxdrift)}</td>
				    </tr>
                }
			</tbody>
		</table>

	</div>
    <p class="hidden-print">
	<a href="@routes.FlightPlanController.addWind" class="btn btn-primary">Add/Change Wind</a>
	</p
}
