@(choice : Int)


<style>
    html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
    }
</style>
<script src="https://www.google.com/jsapi"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>
function reloadFunction(s) {
    var newChoice = s[s.selectedIndex].value;
    location.href=newChoice;
}
</script>

@main("Listing journeys") {
    <link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/main.css")" >

	<div class="container">
	    <div class="hidden-print">
	    <h1>Route</h1>
	    <a href="@routes.FlightPlanController.add(choice)" class="btn btn-primary">Add Leg</a>
	    <p/>
        <p>
	    <select id="journeyChoice" onchange="reloadFunction(this)" >
	    @for(journey <- Journeys.all) {
	        @if(journey.id.get==choice) {
	            <option value="@routes.FlightPlanController.show(journey.id.get)" selected>@journey.name</option>
	        } else {
	            <option value="@routes.FlightPlanController.show(journey.id.get)">@journey.name</option>
	        }    
        }
        </select>
        </p>
        <p/>
        </div>
        <div>
        <table class="table table-striped table-bordered">
		    <thead>
		    	<tr>
					<th>From</th>
					<th>To</th>
					<th>SA</th>
					<th>PA</th>
					<th>Trk<br/>(T)</th>
					<th>Hdg<br/>(T)</th>
					<th>Var<br/>(W)</th>
					<th>Hdg<br/>(M)</th>
					<th>G/S</th>
					<th>Dist</th>
					<th>Leg<br/>Time</th>
					<th></th>
					<th>Time<br/>SetHdg</th>
					<th>Hdg<br/>(C)</th>
					<th>ETA</th>
					<th>RTA</th>
					<th>ATA</th>
		    	</tr>
		    </thead>
			<tbody>
				@for(leg <- Legs.forJourney(choice)) {
				<tr>
					<td>@Places.find(leg.from).name</td>
					<td>@Places.find(leg.to).name</td>
					<td/>
					<td/>
					<td>@{"%03.0f".format(leg.TrkT)}</td>
					<td>@{"%03.0f".format(leg.HdgT)}</td>
					<td>@leg.Var</td>
					<td class="bg-warning">@{"%03.0f".format(leg.HdgM)}</td>
					<td>@{"%3.0f".format(leg.GS)}</td>
					<td>@{"%3.1f".format(leg.lengthNM)}</td>
					<td class="bg-warning">@{"%3.0f".format(leg.LegTime)}</td>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
				</tr>
				}
			</tbody>

     	</table>

		</div>


		<p/>

		<table class="table table-striped table-bordered" style="float: left; width:30%">
		    <thead>
		    	<tr>
					<th>Altitude</th>
					<th>WDir</th>
					<th>WVel</th>
					<th>Temp</th>
					<th>TAS<br/>Kts</th>
					<th>Max<br/>drift</th>
		    	</tr>
		    </thead>
			<tbody>
			    @for(wind <- Winds.all) {
				    <tr>
					    <td>@wind.altitude</td>
					    <td>@{"%03d".format(wind.direction)}</td>
				    	<td>@wind.speed</td>
					    <td>@wind.oat</td>
					    <td>@{"%3.0f".format(wind.tas)}</td>
					    <td>@{"%3.0f".format(wind.maxdrift)}</td>
				    </tr>
                }
			</tbody>


		</table>

	</div>
    <p class="hidden-print">
	<a href="@routes.FlightPlanController.addWind" class="btn btn-primary">Add/Change Wind</a>
	</p>


<script>
var elevator;
var map;
var chart;
var polyline;

// The following path marks a general path from Mt.
// Whitney, the highest point in the continental United
// States to Badwater, Death Valley, the lowest point.
var path = []
var lastPos = new google.maps.LatLng(52.0, -0.5);

@for(point <- Legs.pointsForJourney(choice)) {
    path.push(new google.maps.LatLng(@point.latitude,@point.longitude));
}

// Load the Visualization API and the columnchart package.
google.load('visualization', '1', {packages: ['corechart']});

function initialize() {
  var mapOptions = {
    zoom: 9,
    center: lastPos,
    mapTypeId: 'terrain',
    scrollwheel: false
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  // Create an ElevationService.
  elevator = new google.maps.ElevationService();

  // Draw the path, using the Visualization API and the Elevation service.
  drawPath();

  var stations = [];

   @for(ms <- Legs.stationsInArea(Legs.pointsForJourney(choice))) {
        var obj = {
            latitude : @ms.latitude,
            longitude : @ms.longitude,
            name : "@ms.name",
            icao : "@ms.icao",
            detail : "@ms.getMetar"
        }
        stations.push(obj);
   }

   var infowindow = null;

   for (var i=0;i<stations.length;i++) {
       var ms = stations[i];



      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(ms.latitude, ms.longitude),
          map: map,
          title: ms.name,
          html : '<div id="content">'+
          "<h3>" + ms.name+ "(" + ms.icao + ")</h3>" +
          '<div id="bodyContent">'+
          ms.detail +
          '</div>'+
          '</div>'
      });
      google.maps.event.addListener(marker, 'click', function() {
        if (infowindow != null) {
            infowindow.close();
        }
        infowindow = new google.maps.InfoWindow({
          content: 'holding'
        });
        infowindow.content = this.html;
        infowindow.open(map, this);
      });
  }

}

function drawPath() {

  // Create a new chart in the elevation_chart DIV.
  chart = new google.visualization.AreaChart(document.getElementById('elevation_chart'));

  // Create a PathElevationRequest object using this array.
  // Ask for 256 samples along that path.
  var pathRequest = {
    'path': path,
    'samples': 256
  }

  // Initiate the path request.
  elevator.getElevationAlongPath(pathRequest, plotElevation);
}

// Takes an array of ElevationResult objects, draws the path on the map
// and plots the elevation profile on a Visualization API ColumnChart.
function plotElevation(results, status) {
  if (status != google.maps.ElevationStatus.OK) {
    return;
  }
  var elevations = results;

  // Extract the elevation samples from the returned results
  // and store them in an array of LatLngs.
  var elevationPath = [];
  for (var i = 0; i < results.length; i++) {
    elevationPath.push(elevations[i].location);
  }

  // Display a polyline of the elevation path.
  var pathOptions = {
    path: elevationPath,
    strokeColor: '#0000CC',
    opacity: 0.4,
    map: map
  }
  polyline = new google.maps.Polyline(pathOptions);

  // Extract the data from which to populate the chart.
  // Because the samples are equidistant, the 'Sample'
  // column here does double duty as distance along the
  // X axis.

  var mst = []
  var nms = []
  var few = []
  var sct = []
  var bkn = []
  var ovc = []
  var lastpl = "";

  @for(h <- Legs.journeyCloudBases(choice, 256)) {
    mst.push("@h._1");
    nms.push("@h._2");
    few.push(@h._3);
    sct.push(@h._4);
    bkn.push(@h._5);
    ovc.push(@h._6);
  }
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Sample');
  data.addColumn('number', 'Elevation');
  data.addColumn('number', 'Few');
  data.addColumn({type: 'string', role: 'tooltip'});
  data.addColumn('number', 'Sct');
  data.addColumn({type: 'string', role: 'tooltip'});
  data.addColumn('number', 'Bkn');
  data.addColumn({type: 'string', role: 'tooltip'});
  data.addColumn('number', 'Ovc');
  data.addColumn({type: 'string', role: 'tooltip'});

  var lastname = "";
  for (var i = 0; i < results.length; i++) {
    var elev = elevations[i].elevation * 3.2808399;
    var f = few[i] - elev;
    var fs = mst[i] +': Few at ' + few[i]
    var s = sct[i] - few[i]
    var ss = mst[i] +': Scattered at ' + sct[i]
    var b = bkn[i] - sct[i]
    var bs = mst[i] +': Broken at ' + bkn[i]
    var o = ovc[i] - bkn[i]
    var os = mst[i] +': Overcast at ' + ovc[i]
    var nm = nms[i]

    data.addRow([ nm, elev,f,fs,s,ss,b,bs,o,os ]);
  }

  // Draw the chart using the data within its DIV.
  document.getElementById('elevation_chart').style.display = 'line';
  chart.draw(data, {
    backgroundColor: '#dddddd',
    height: 500,
    titleY: 'Elevation (feet)',
    colors: ['#007700','#00E0E0', '#A0E0E0', '#A0A0A0', '#505050'],
    isStacked: true,
    vAxis: {
        viewWindow: {
            min: 0,
            max: 5000
        },
        ticks: [0, 1000, 2000, 3000, 4000] // display labels every 25
    },
    'hAxis': {'slantedText': false}
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

}

<p style="page-break-after:always;"></p>

<div>
    <div id="map-canvas"  style="height:500px;width:80%;left:10%;bottom:10%"></div>
    <br>
    <div id="border" style="height:500px;width:80%;top:10%;left:10%;display:block;margin: 0 auto">
    <div id="elevation_chart" ></div>

    </div>
</div>