@(journeys: List[Journey], places: List[Place])

@main("Listing journeys") {
    <script src="@routes.Assets.at("javascripts/update.js")" type="text/javascript"></script>

	<div class="container">
	    <h1>Journeys </h1>
	    <a href="@routes.JourneysController.add" class="btn btn-primary">Add Journey</a>
	    <p/>

        <table class="table table-striped">
		    <thead>
		    	<tr>
		    		<th>ID</th>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
		    	</tr>
		    </thead>
			<tbody>
				@for(journey <- journeys) {
				<tr>
					<td>@journey.id</td>
					<td>@journey.name</td>
						@journey.id.map { id =>
							<td><a href="@routes.FlightPlanController.show(id)" class="btn btn-warning" type="submit">Route</button></td>
							<td>@helper.form(routes.JourneysController.delete(id)){<button class="btn btn-danger" type="submit">Delete</button>}</li></td>
						}
				</tr>
				}
			</tbody>
		</table>
	</div>
}
